<div class="new-photo-form">
  <%= simple_form_for [gallery, photo] do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :address,
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :keyword %>
    <%= f.button :submit, class: "btn btn-secondary cgn" %>
  <% end %>
   <%= link_to "I'm done", profile_path, class: "btn mt-3" %>
</div>
</div>
