<div class= "carousel slide m-3 d-flex justify-content-center"> <%= render "shared/event-carousel" %> </div>

<div class= "container d-flex flex-column mb-5">
  <h5 class="mb-3 p-4 fs-3 text-center"><strong><%= @event.title %></strong></h5>
  <div class="container mb-5">
    <p class="text-center mb-5"><%= "#{@event.description}  " %><%= @event.description %></p>
    <div class="rounded d-flex justify-content-around">
        <div class="mx-3">
          <p class="ml-1"><i class="fa-solid fa-location-dot px-4"></i>Location<br>&emsp;&emsp;&thinsp;<%= @event.address %></p>
          <p class="ml-1"><i class="fa-regular fa-clock px-4"></i>Date<br>&emsp;&emsp;&thinsp;<%= @event.date.to_time.strftime('%e %b %Y %H:%M') %></p>
        </div>

        <div>
          <p>Event Organizer</p>
          <%= @event.user.username %>
          <p>Who is attending?</p>
            <%# <% @event.booking.each do |user| %>
        </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <% if current_user.id == @event.user_id %>
      <%= link_to "See my bookings", event_bookings_path(@event), class: "button-main" %>
    <% else %>
      <button type="button" class="btn btn-primary">Register!</button>
    <% end %>
  </div>
</div>
