<div class="main-container mx-5">
  <div class="community-banner">
    <%= image_tag "logo-all-white.png" %>
    <h1 id="banner-title"><span class="community-name"><%= @community.name.capitalize %></span></h1>
  </div>
</div>

<div class="cards mb-3" style="grid-gap: 10px; padding-bottom: 60px; margin: 50px; margin-top: 20px;">
      <% @com_members.each do |member| %>
      <% if member.banner_photo.key  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path member.banner_photo.key %>')">
      <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1581268879726-e9066753b737?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80)">
      <% end %>
          <%= link_to member_path(member) do %>
          <div class="card-trip-infos">
            <div class="d-flex flex-column align-items-center">
                <%= cl_image_tag member.photo.key, height: 100, width: 100, crop: :fill, style: "border-radius: 50%; border: solid 4px;" %>
                 <%= member.username.capitalize %>
            </div>
          </div>
              <% end %>
        </div>
              <% end %>
</div>


 <%# <h3 id="local_events"><strong>Photo events in </strong> <span class="berlin2"> Berlin </span> </h3> %>

<%= render 'shared/new_event_card', events: @com_events %>

<h2 style="margin-left: 50px;"><%= @community.name %>'s best photo spots!</h2>
<div class="hot-spot-part">
  <%= render 'shared/hot_spot_map' %>

  <%= render 'shared/new_hot_spot_form', hot_spot: @hot_spot %>
</div>
