<div class="main-container mx-5">
<div class="banner_community">
    <h2>Welcome to <span class="berlin"> <%= @community.name %></span>'s photo community!</h2>
    <%# <img src= "/assets/logo1" class="logo"> %>
</div>

<div class="cards mb-3">
      <% @com_members.each do |member| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?textures)">
        <% link_to "/pages/#{member.id}" do %>
          <div class="card-trip-infos">
            <div class="d-flex flex-column align-items-center">
                <%= cl_image_tag member.photo.key, height: 100, width: 100, crop: :fill, style: "border-radius: 50%; border: solid 4px;" %>
                    <%= member.username %>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
</div>

<div class="cards border-top pt-3">
  <% @com_events.each do |event| %>
      <div class="card-trip">
      <%= link_to event_path(event) do %>
        <% if event.images.try(:any?) %>
          <%= cl_image_tag event.images.first.key %>
        <% else %>
          <%= cl_image_tag Photo.first.photo.key %>
        <% end %>
      <% end %>
        <div class="card-trip-infos">
        <%= button_to "Join", event_path(event), class:"btn btn-outline-dark" %>
          <div>
            <h2><%= event.title %></h2>
            <p> <%= event.description %></p>
          </div>
          <h2 class="card-trip-pricing">Photo buddies Berlin</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
<% end %>
</div>
</div>

<h4><%= @community.description %></h4>

<h2><%= @community.name %>'s best photo spots!</h2>
<div class="hot-spot-part">
  <%= render 'shared/hot_spot_map' %>

  <%= render 'shared/new_hot_spot_form', hot_spot: @hot_spot %>
</div>
