<div class="main-container mx-5">
  <div class="community-banner">
    <%= image_tag "logo-all-white.png" %>
    <h1 id="banner-title"><span class="community-name"><%= @community.name.capitalize %></span></h1>
  </div>
</div>

<h4 class="container py-3 mt-5"><strong>Community Members:</strong></h4>
<div class="cards mb-3" style="grid-gap: 10px; padding-bottom: 60px; margin: 50px; margin-top: 20px;">
      <% @com_members.each do |member| %>
      <% if member.banner_photo.key  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path member.banner_photo.key %>')">
      <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1581268879726-e9066753b737?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80)">
      <% end %>
          <%= link_to member_path(member) do %>
          <div class="card-trip-infos">
            <div class="d-flex flex-column align-items-center">
                <%= cl_image_tag member.photo.key, height: 100, width: 100, crop: :fill, style: "border-radius: 50%; border: solid 4px;" %>
                 <%= member.username.capitalize %>
            </div>
          </div>
              <% end %>
        </div>
              <% end %>
</div>

  <hr class="mx-5 solid">

<h4 class="container py-3 mt-5"><strong>Community Events:</strong></h4>

<%= render 'shared/new_event_card', events: @com_events %>

  <hr class="solid">

<h4 class="container py-3 mt-5"><strong>Community Photo Spots:</strong></h4>

<div class="row">
  <div class="col-12 col-md-6 p-5">
    <%= render 'shared/hot_spot_map' %>
  </div>
  <div class="col-12 col-md-6 p-5">
    <%= render 'shared/new_hot_spot_form', hot_spot: @hot_spot %>
  </div>
</div>
