<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} Your local community!" %>
<% content_for :meta_description, "Photos, people, events and iconic places!" %>

<div class= "banner"> <%= render "shared/banner" %> </div>
<h4 class="container" id="local_events"><strong>Popular Art:</strong></h4>


<div class="container photo-exerpt-cards">
  <% @exerpt.each do |pho| %>
    <div class="photo-exerpt">
      <div class="artist-info">
        <%= link_to member_path(pho.gallery.user) do %>
          <%= cl_image_tag pho.gallery.user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
          <p><strong><%= pho.gallery.user.username.capitalize %></strong></p>
        <% end %>
      </div>
      <%= link_to gallery_photo_path(pho.gallery_id, pho) do %>
        <%= cl_image_tag pho.photo.key, height: 312, width: 312, crop: :fill %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container py-3 mt-5">
  <h4 id="local_events"><strong>Happening Lately:</strong></h4>
  <%= render 'shared/new_event_card', events: @events %>
</div>



    <%# <div class="grid">
      <% @events.reverse.each do |event| %>
        <%# <%= link_to event_path(event), class: "nav-link" do %>
          <%# <div class="card"> %>
            <%# if event.images.try(:any?) %>
              <%#= cl_image_tag event.images.first.key %>
            <%# else %>
              <%#= cl_image_tag Photo.first.photo.key %>
            <%# end %>
            <%# <div class="card-body">
             <%#> <h5 class="card-title"><%= event.title %> <%#> </h5> <%/#>
              <%# <div class="d-flex flex-column"> %>
                <%# <p><i class="fa-regular fa-clock"></i> <%= event.date.to_time.strftime('%e %b %Y %H:%M') %> <%# </p> %>
                <%# <p><i class="fa-solid fa-location-dot"></i> <%= event.address %> <%# </p> %>
                <%# <p><i class="fa-regular fa-file-lines"></i> <%= event.description %> <%# </p> %>
                <%# <p>By: <% @user = User.find(event.user_id) %>
                  <%#= @user.username.capitalize %>
                  <%#= cl_image_tag @user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                <%# </p>
                <p>With: %>
                  <%# event.bookings.each do |book| %>
                    <%# participant = User.find(book.user_id) %>
                    <%#= participant.username.capitalize %>
                    <%#= cl_image_tag participant.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                    <%# cloudinary note: need to convert to png to have a transparent background %>
                  <%# end %>
                <%# </p> %>
                <%# <% if event.user_id == current_user.id %>
                  <%# <p><i class="fa-solid fa-face-smile-wink"></i> My event</p> %>
                <%# <% else %>
                  <%# <p>Book now <i class="fa-solid fa-chevron-right"></i></p> %>
                <%# <% end %>
              <%# </div>
            </div>
          </div>
        <% end %>
      <%# <% end %>
    <%# </div> %>
  <%# </div> %>
