


<div class= "banner"> <%= render "shared/banner" %> </div>
<div class= "carousel slide"> <%= render "shared/carousel" %> </div>
<%# <div class= "card-trip"> <%= render "shared/tripcard", events: @events </div> %>

<div class="container p-3 mb-3">
    <h4 id="local_events"><strong>Photo events in </strong> <span class="berlin2"> <%= current_user.community.name.capitalize %> </span> </h4>
    <div class="grid">
      <% @events.reverse.each do |event| %>
        <%= link_to event_path(event), class: "nav-link" do %>
          <div class="card">
            <% if event.images.try(:any?) %>
              <%= cl_image_tag event.images.first.key %>
            <% else %>
              <%= cl_image_tag Photo.first.photo.key %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <div class="d-flex flex-column">
                <p><i class="fa-regular fa-clock"></i> <%= event.date.to_time.strftime('%e %b %Y %H:%M') %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
                <p><i class="fa-regular fa-file-lines"></i> <%= event.description %></p>
                <p>By: <% @user = User.find(event.user_id) %>
                  <%= @user.username.capitalize %>
                  <%= cl_image_tag @user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                </p>
                <p>With:
                  <% event.bookings.each do |book| %>
                    <% participant = User.find(book.user_id) %>
                    <%= participant.username.capitalize %>
                    <%= cl_image_tag participant.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                    <%# cloudinary note: need to convert to png to have a transparent background %>
                  <% end %>
                </p>
                <%# <% if event.user_id == current_user.id %>
                  <%# <p><i class="fa-solid fa-face-smile-wink"></i> My event</p> %>
                <%# <% else %>
                  <%# <p>Book now <i class="fa-solid fa-chevron-right"></i></p> %>
                <%# <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div
  id="hot-spot-map"
  style="width: 80%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div id="new-hot-spot-form" class="mb-5">
  Add a hotspot to the map:
  <%= simple_form_for @hot_spot do |f| %>
    <%= f.input :comment %>
    <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
