


<div class= "banner"> <%= render "shared/banner" %> </div>
<div class= "carousel slide"> <%= render "shared/carousel" %> </div>
<%# <div class= "card-trip"> <%= render "shared/tripcard", events: @events %> </div> %>

<div class="container p-3 mb-3">
    <h4><strong>My Events</strong></h4>
    <div class="grid">
      <% @events.reverse.each do |event| %>
        <%= link_to event_path(event), class: "nav-link" do %>
          <div class="card">
            <img src="https://source.unsplash.com/random/?event" alt="random pic">
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <div class="d-flex flex-column">
                <p><i class="fa-regular fa-clock"></i> <%= event.date.to_time.strftime('%e %b %Y %H:%M') %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
                <p><i class="fa-regular fa-file-lines"></i> <%= event.description %></p>
                <p>By: <% @user = User.find(event.user_id) %>
                  <%= @user.username.capitalize %>
                  <%= cl_image_tag @user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                </p>
                <p>With:
                  <% event.bookings.each do |book| %>
                    <% participant = User.find(book.user_id) %>
                    <%= participant.username.capitalize %>
                    <%= cl_image_tag participant.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                    <%# cloudinary note: need to convert to png to have a transparent background %>
                  <% end %>
                </p>
                <%# <% if event.user_id == current_user.id %>
                  <%# <p><i class="fa-solid fa-face-smile-wink"></i> My event</p> %>
                <%# <% else %>
                  <%# <p>Book now <i class="fa-solid fa-chevron-right"></i></p> %>
                <%# <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
