<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} Your local community!" %>
<% content_for :meta_description, "Photos, people, events and iconic places!" %>

<div class= "banner"> <%= render "shared/banner" %> </div>
<div class= "carousel slide"> <%= render "shared/carousel" %> </div>
<%# <div class= "card-trip"> <%= render "shared/tripcard", events: @events </div> %>

<div class="container p-3 mb-3">
    <h4 id="local_events"><strong>Photo events in </strong>
    <span class="berlin2">
     <% if user_signed_in? %>
      <%= current_user.community.name.capitalize %>
     <% else %>
      your local community!
     <% end %>
     </span> </h4>
  <div class="cards-body" style="width:800px; margin-inline: auto">
  <% @events.reverse.each do |event| %>
      <div class="card-trip" style="margin:40px;">
      <%= link_to event_path(event) do %>
        <% if event.images.try(:any?) %>
          <%= cl_image_tag event.images.first.key %>
        <% else %>
          <%= cl_image_tag Photo.first.photo.key %>
        <% end %>
        <% end %>
        <div class="card-trip-infos">
        <%#= button_to "Join", event_path(event), class:"btn btn-outline-dark" %>
            <h2><%= event.title %></h2>
            <p> <%= event.description %></p>

            <h2 class="card-trip-pricing"> Berlin</h2>
             <%= cl_image_tag event.user.photo.key, class: "card-trip-user avatar-bordered"%>
          </div>
        </div>
          <% end %>
        </div>
      </div>
    </div>
</div>







    <%# <div class="grid">
      <% @events.reverse.each do |event| %>
        <%# <%= link_to event_path(event), class: "nav-link" do %>
          <%# <div class="card"> %>
            <%# if event.images.try(:any?) %>
              <%#= cl_image_tag event.images.first.key %>
            <%# else %>
              <%#= cl_image_tag Photo.first.photo.key %>
            <%# end %>
            <%# <div class="card-body">
             <%#> <h5 class="card-title"><%= event.title %> <%#> </h5> <%/#>
              <%# <div class="d-flex flex-column"> %>
                <%# <p><i class="fa-regular fa-clock"></i> <%= event.date.to_time.strftime('%e %b %Y %H:%M') %> <%# </p> %>
                <%# <p><i class="fa-solid fa-location-dot"></i> <%= event.address %> <%# </p> %>
                <%# <p><i class="fa-regular fa-file-lines"></i> <%= event.description %> <%# </p> %>
                <%# <p>By: <% @user = User.find(event.user_id) %>
                  <%#= @user.username.capitalize %>
                  <%#= cl_image_tag @user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                <%# </p>
                <p>With: %>
                  <%# event.bookings.each do |book| %>
                    <%# participant = User.find(book.user_id) %>
                    <%#= participant.username.capitalize %>
                    <%#= cl_image_tag participant.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                    <%# cloudinary note: need to convert to png to have a transparent background %>
                  <%# end %>
                <%# </p> %>
                <%# <% if event.user_id == current_user.id %>
                  <%# <p><i class="fa-solid fa-face-smile-wink"></i> My event</p> %>
                <%# <% else %>
                  <%# <p>Book now <i class="fa-solid fa-chevron-right"></i></p> %>
                <%# <% end %>
              <%# </div>
            </div>
          </div>
        <% end %>
      <%# <% end %>
    <%# </div> %>
  <%# </div> %>
