<div class='container'>
  <div class='row'>
    <%# <div class="card-product" style="height: 170px; background-image: url('<%= cl_image_path @user.banner_photo.key %>
    <div class="card-product" style="height: 200px; background-image: url(<%= @user.banner_photo.attached? ? url_for(@user.banner_photo) : 'https://source.unsplash.com/random/?sunset' %>)">
      <%= cl_image_tag @user.photo.key %>
      <%= link_to edit_user_path(@user), class: "bring-forward" do %>
        <i class="fa-solid fa-pen up"></i>
      <% end %>
    </div>
  </div>
  <div class='row negative'>
    <div class='user-details'>
      <h4 class = username><strong><%= @user.username.capitalize %></strong></h4>
      <p><%= @user.description %></p>

    </div>
  </div>
  <br>
<div class='add-gallery-icon'>
    <h4 id="gallerie"><strong>My photo galleries</strong></h4>
    <%= link_to new_user_gallery_path(@user) do %>
    <i class="fa-solid fa-plus plus"></i>
    <% end %>
</div>

<div class="new-gallery">
  <% @my_galleries.each do |g| %>
    <div class="row py-3 shadow-5 w-50"  data-controller='photoswipe'>
      <div class="col-12 mb-1">
      <a href= "<%= cl_image_path g.photos.first.photo.key%>" data-pswp-src= "<%= cl_image_path g.photos.first.photo.key%>" data-pswp-srcset= "<%= cl_image_path g.photos.first.photo.key%>" data-pswp-width="1000"
        data-pswp-height="1000" target= "_blank">
        <section  class="card-category-gallery" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path g.photos.first.photo.key, class: "w-100"%>')">
        </section>
      </a>
      </div>
      <% g.photos.last(3).each do |pic| %>
        <div class="col-4 mt-1">
        <a href= "<%= cl_image_path pic.photo.key%>" data-pswp-src= "<%= cl_image_path pic.photo.key%>" data-pswp-srcset= "<%= cl_image_path pic.photo.key%>" data-pswp-width="1000"
        data-pswp-height="1000" target= "_blank">
          <section class="card-category-gallery card-category-gallery-small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pic.photo.key, class: "w-100"%>')">
          </section>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<hr class="solid">
  <div class="container p-3 mb-3">
    <h4 id="events_profile">Events you created</h4>
        <%= link_to new_event_path, class: 'btn edit-gal', id: "add-event-btn" do %>
                <i class="fa-solid fa-plus"></i>create new event
        <% end %>

<div class="cards-body" style="width:1200px; margin-inline: auto">
      <% @my_events.reverse.each do |event| %>
        <%#= link_to event_path(event), class: "nav-link" do %>
      <div class="card-trip" style="margin:40px;">
      <%= link_to event_path(event), class: "nav-link" do %>
        <% if event.images.try(:any?) %>
          <%= cl_image_tag event.images.first.key %>
        <% else %>
          <%= cl_image_tag Photo.first.photo.key %>
        <% end %>
        <% end %>
        <div class="card-trip-infos">
        <%#= button_to "Join", event_path(event), class:"btn btn-outline-dark" %>
            <h2><%= event.title %></h2>
            <p> <%= event.description %></p>

            <h2 class="card-trip-pricing"></h2>
             <%= cl_image_tag event.user.photo.key, class: "card-trip-user avatar-bordered"%>

          </div>
        </div>
        <% end %>
      </div>
  <div class='row cen'>
    <h4><strong>My galleries</strong></h4>


    <% @my_galleries.each do |g| %>
      <h5 class='below mt-5'>
      <%= g.name %>
      <%= link_to new_user_gallery_path(@user), data: {turbo_frame: :modal} do %>
          <i class="fa-solid fa-plus plus"></i>
        <% end %>
      </h5>
      <%= link_to user_gallery_path(@user, g), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn bin', title: 'Delete Gallery' do %>
        <i class="fa-sharp fa-solid fa-trash"></i>
      <% end %>

      <%= link_to user_gallery_path(@user, g) do %>
        <div class="carousel slide m-3 d-flex justify-content-center caro-drop">
          <%= render 'shared/gallery_carousel', my_pics: g %>
          <%= link_to edit_user_gallery_path(@user, g),  data: {turbo_frame: :modal} , class: 'btn edit-gal ' do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
        </div>
      <% end %>
      <%end%>
  </div>



  </div>

  <div class="container p-3 mb-3">
    <h4><strong>My Events</strong></h4>
      <%= link_to new_event_path, class: 'btn edit-gal', id: "add-event-btn" do %>
        <i class="fa-solid fa-plus"></i> Add an event
      <% end %>

    <div class="grid">
      <% @my_events.reverse.each do |event| %>
        <%= link_to event_path(event), class: "nav-link" do %>
          <div class="card">
            <img src="https://source.unsplash.com/random/?event" alt="random pic">
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <div class="d-flex flex-column">
                <p><i class="fa-regular fa-clock"></i> <%= event.date.to_time.strftime('%e %b %Y %H:%M') %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
                <p><i class="fa-regular fa-file-lines"></i> <%= event.description %></p>
                <p>By: <% @user = User.find(event.user_id) %>
                  <%= @user.username.capitalize %>
                  <%= cl_image_tag @user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                </p>
                <p>With:
                  <% event.bookings.each do |book| %>
                    <% participant = User.find(book.user_id) %>
                    <%= participant.username.capitalize %>
                    <%= cl_image_tag participant.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                    <%# cloudinary note: need to convert to png to have a transparent background %>
                  <% end %>
                </p>
                <%# if event.user_id == current_user.id %>
                  <%# <p><i class="fa-solid fa-face-smile-wink"></i> My event</p> %>
                <%# else %>
                  <%# <p>Book now<i class="fa-solid fa-chevron-right"></i></p> %>
                <%# end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container py-3 mt-5">
    <h4><strong>My joined events</strong></h4>
    <% if @bookings.any?%>
      <div class="cards-body" style="width:1200px; margin-inline: auto">
        <% @bookings.each do |booking| %>
          <% event = booking.event %>
          <div class="card-trip" style="margin:40px;">
            <%= link_to event_path(event) do %>
              <% if event.images.try(:any?) %>
                <%= cl_image_tag event.images.first.key %>
              <% else %>
                <%= cl_image_tag Photo.first.photo.key %>
              <% end %>
            <% end %>

            <div class="card-trip-infos-cancel">
              <h2><%= event.title %></h2>
              <p> <%= event.description %></p>

              <div class="event-organizer">
                <%= link_to member_path(event.user) do %>
                  <%= cl_image_tag event.user.photo.key, class: "card-trip-user avatar-bordered"%>
                <% end %>
                <p class="card-trip-pricing">By <%= event.user.username.capitalize %></p>
              </div>

              <%= link_to "Cancel",
                profile_path,
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "main-button"
              %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


</div>
