<div class='container'>
  <div class='row'>
    <div class="card-product" style="background-image: url(<%= @user.banner_photo.attached? ? url_for(@user.banner_photo) : 'https://source.unsplash.com/random/?sunset' %>)">
      <%= cl_image_tag @user.photo.key %>
      <%= link_to edit_user_path(@user)do %>
        <i class="fa-solid fa-pen up"></i>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='user-details'>
      <h4><strong><%= @user.username.capitalize %></strong></h4>
      <p><%= @user.description %></p>

    </div>
  </div>
  <br>
  <div class='row cen'>
    <h4><strong>My galleries</strong></h4>
    <%= link_to new_user_gallery_path(@user) do %>
      <i class="fa-solid fa-plus plus"></i>
    <% end %>

    <% @my_galleries.each do |g| %>
      <h5 class='below'><%= g.name %></h5>
      <%= link_to user_gallery_path(@user, g), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn bin', title: 'Delete Gallery' do %>
        <i class="fa-sharp fa-solid fa-trash"></i>
      <% end %>
      <%= link_to edit_gallery_path(g)do %>
        <i class="fa-solid fa-pen up"></i>
      <% end %>

      <div class="carousel slide m-3 d-flex justify-content-center caro-drop">
        <%= render 'shared/gallery_carousel', my_pics: g %>
        <%= link_to edit_user_gallery_path(@user, g), class: 'btn edit-gal ' do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
      </div>
    <% end %>
  </div>


  </div>
  </div>

  <div class="container p-3 mb-3">
    <h4><strong>My Events</strong></h4>
    <div class="grid">
      <% @my_events.reverse.each do |event| %>
        <%= link_to event_path(event), class: "nav-link" do %>
          <div class="card">
            <img src="https://source.unsplash.com/random/?event" alt="random pic">
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <div class="d-flex flex-column">
                <p><i class="fa-regular fa-clock"></i> <%= event.date.to_time.strftime('%e %b %Y %H:%M') %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
                <p><i class="fa-regular fa-file-lines"></i> <%= event.description %></p>
                <p>By: <% @user = User.find(event.user_id) %>
                  <%= @user.username.capitalize %>
                  <%= cl_image_tag @user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                </p>
                <p>With:
                  <% event.bookings.each do |book| %>
                    <% participant = User.find(book.user_id) %>
                    <%= participant.username.capitalize %>
                    <%= cl_image_tag participant.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                    <%# cloudinary note: need to convert to png to have a transparent background %>
                  <% end %>
                </p>
                <%# <% if event.user_id == current_user.id %>
                  <%# <p><i class="fa-solid fa-face-smile-wink"></i> My event</p> %>
                <%# <% else %>
                  <%# <p>Book now <i class="fa-solid fa-chevron-right"></i></p> %>
                <%# <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<%# <%= link_to new_event_path, class: "main-button", id: "add-event-btn" do %>
  <%# <i class="fa-solid fa-plus"></i> Add an event %>
<%# <% end %>
