<div class="container">
  <div class="search-banner">
    <div class="row justify-content-center">
      <%# <div class="search-banner-content"> %>
        <div class="col-sm-8 my-3">
          <%= form_with url: search_path, method: :get, class: "d-flex flex-column" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "search-form",
                  placeholder: user_signed_in? ? "Hi #{current_user.username.capitalize}, what are we looking for?" : "Hi, what are we looking for?"
              %>

            <div class="search-categories">
              <h6>Browse through </h6>
              <div class="tag-item">
                <input type="checkbox" name="users" value="display" id="users" class="tag-selector">
                <label for="users">People</label>
              </div>

              <div class="tag-item">
                <input type="checkbox" name="photos" value="display" id="photos" class="tag-selector">
                <label for="photos">Art</label>
              </div>
            </div>

            <%= submit_tag "Discover", name: "Discover", class: "main-button" %>
          <% end %>
        </div>
      <%# </div> %>
    </div>
  </div>

</div>

<div class="container mb-5">
  <% if @results.try(:any?) %>
    <div class="accordion" id="searchAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Results in Art ( <%= @results.length %> )
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#searchAccordion">
          <div class="accordion-body">
            <% if @photo_results.try(:any?) %>
              <div class="photo-result-cards">
                <% @photo_results.each do |res| %>
                  <% @photo = Photo.find(res.searchable_id) %>
                  <%= render 'shared/photo_result_card', photo: @photo %>
                <% end %>
              </div>
            <% else %>
              <p>No art found :(</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Results in People ( <%= @results.length %> )
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#searchAccordion">
          <div class="accordion-body">
            <% if @user_results.try(:any?) %>
              <div class="user-cards">
                <% @user_results.each do |res| %>
                  <% @user = User.find(res.searchable_id)  %>
                  <%= render 'shared/user_card', user: @user %>
                <% end %>
              </div>
            <% else %>
              <p>No members found :(</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <%= @message %>

    <div class="accordion" id="secondSearchAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Results in Art ( <%= @photo_results.length %> )
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#secondSearchAccordion">
          <div class="accordion-body">
            <div class="photo-result-cards">
              <% @photo_results.reverse.each do |photo| %>
                <%= render 'shared/photo_result_card', photo: photo %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Results in People ( <%= @user_results.length %> )
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#secondSearchAccordion">
          <div class="accordion-body">
            <% if user_signed_in? %>
              <div class="user-cards">
                <% @user_results.each do |user| %>
                  <%= render 'shared/user_card', user: user %>
                <% end %>
              </div>
            <% else %>
              <p>Log in to browse through your local community members!</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%# <div class="col pt-1" data-controller="fake-dropdown">


  <button class="main-button"
          data-action="click->fake-dropdown#disable"
          data-fake-dropdown-target="closed"><i class="fa-solid fa-chevron-right"></i>
  </button>
  <button class="main-button d-none ms-2"
          data-fake-dropdown-target="open"
          data-action="click->fake-dropdown#reset"><i class="fa-solid fa-chevron-down"></i>
  </button>

  <div class="d-none"
      data-fake-dropdown-target="card">

</div>

</div> %>
