<div class='container'>
  <div class = 'row'>
    <div class="card-product" style="background-image: url(https://source.unsplash.com/random/?photo)">
     <%= cl_image_tag @user.photo.key %>
    </div>
  </div>
  <div class ='row'>
    <div class = 'user-details'>
       <h4><strong> <%= @user.username.capitalize %><strong> </h4>
       <p> <%= @user.description %> </p>
    </div>
  </div>
  <div class = 'row cen mt-5'>
      <h5 class = ' mb-5'><strong><%= @user.username%>'s gallery</strong></h5>
      <% @my_galleries.each do |gallery| %>

          <% photo = gallery.photos.first %>
          <% bg_img = photo&.photo&.attached? ? cl_image_path(photo.photo.key) : 'https://images.unsplash.com/photo-1528203455795-d2211546bd8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80' %>
          <a class="dropdown-item dropdown-item-styling" href="#" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= bg_img %>')">
            <%= gallery.name %>
          </a>
          <%= link_to "See", "http://localhost:3000/galleries/6/photos/21" %>

      <% end %>
    </div>
  </div>
  <div class="container cen p-3 mb-3">
    <h5><strong><%= @user.username%>'s Events</strong></h5>
    <div class="grid">
      <% @my_events.reverse.each do |event| %>
        <%= link_to event_path(event), class: "nav-link" do %>
          <div class="card">
            <img src="https://source.unsplash.com/random/?event" alt="random pic">
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <div class="d-flex flex-column">
                <p><i class="fa-regular fa-clock"></i> <%= event.date.to_time.strftime('%e %b %Y %H:%M') %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
                <p><i class="fa-regular fa-file-lines"></i> <%= event.description %></p>
                <p>By: <% @user = User.find(event.user_id) %>
                  <%= @user.username.capitalize %>
                  <%= cl_image_tag @user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                </p>
                <p>With:
                  <% event.bookings.each do |book| %>
                    <% participant = User.find(book.user_id) %>
                    <%= participant.username.capitalize %>
                    <%= cl_image_tag participant.photo.key, height: 40, width: 40, radius: 20, crop: :fill %>
                    <%# cloudinary note: need to convert to png to have a transparent background %>
                  <% end %>
                </p>
                <%# <% if event.user_id == current_user.id %>
                  <%# <p><i class="fa-solid fa-face-smile-wink"></i> My event</p> %>
                <%# <% else %>
                  <%# <p>Book now <i class="fa-solid fa-chevron-right"></i></p> %>
                <%# <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>

<%# following to display only pictures from the user %>
<%# <% @my_galleries.each do |g| %>
  <%# <% my_pics = g.photo_ids %>
    <%# <% my_pics.each do |pic| %>
    <%# <% p = Photo.find(pic) %>
    <%# <%= cl_image_tag p.photo.key, height: 300, width: 400, crop: :fill %>
    <%# <% end %>
<%# <% end %>

<%# following to display only pictures from the user as galleries %>
<%# for now only one is moving because the carousel pages id are the same. to change, follow: %>
<%# https://stackoverflow.com/questions/10521257/is-it-possible-to-have-multiple-twitter-bootstrap-carousels-on-one-page %>
<%# <% @my_galleries.each do |g| %>
  <%# <% my_pics = g.photo_ids %>
  <%# <div class= "carousel slide m-3 d-flex justify-content-center">
   <%= render 'shared/gallery_carousel', my_pics: my_pics %>
  <%# </div> %>
<%# <% end %>
