

<div id="photo-display-page-black">
  <div class="photo-display-top">
    <div id="back-to-profile-white">
      <%= link_to "/pages/#{@gallery_user.id}" do %>
      <%= cl_image_tag @gallery_user.photo.key, height: 40, width: 40, radius: 20, crop: :fill %> <%= @gallery_user.username.capitalize %>
      <% end %>
    </div>

    <div class="photo-address">
      <p><i class="fa-solid fa-location-dot px-4"></i><%= @photo.address %></p>
    </div>
  </div>

  <div class="photo-box">
    <div class="photo-inline">
      <%= cl_image_tag @photo.photo.key, width: 800, crop: :fill %>
      <div class="photo-destroy">
        <% if policy(@photo).destroy? %>
          <%= link_to gallery_photo_path(@gallery, @photo), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn bin', title: 'Delete Photo' do %>
            <i class="fa-sharp fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="photo-comments">
      <%= turbo_frame_tag dom_id(@photo, :comments) do %>
        <% coms = @photo.comments %>
        <% if coms.try(:any?) %>
          <% coms.each do |com| %>
            <div class="comment-cards">
              <% commentor = User.find(com.user_id) %>
              <%= render "shared/comment_card", commentor: commentor, com: com %>
            </div>
          <% end %>
        <% end %>
        <div class="comment-form">
          <%= simple_form_for([@photo, @comment],
                              data: {
                                action: "submit->insert-comment#send"
                              }) do |f| %>
            <%= f.input :content, as: :string, label: "Comment" %>
            <%= f.button :submit, "Send", class: "main-btn" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
